<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LuaSTGEditorSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LuaSTGEditorSharp.Properties.Settings>
            <setting name="ZipExecutablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LuaSTGExecuteablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorName" serializeAs="String">
                <value>LuaSTG User</value>
            </setting>
            <setting name="PackProj" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugSaveProj" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugUpdateLib" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugCheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugWindowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugResolutionY" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="DebugResolutionX" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="AutoMoveToNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveResMeta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LuaSTGNodeLibPath" serializeAs="String">
                <value>LuaSTGSubLib.dll</value>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PackerType" serializeAs="String">
                <value>zip-internal</value>
            </setting>
            <setting name="SLDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceIndentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndentationSpaceLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DynamicDebugReporting" serializeAs="String">
                <value>False</value>
            </setting>
        </LuaSTGEditorSharp.Properties.Settings>
    </userSettings>
</configuration>